.footer {

    &_bottom {
        border-top: 1px solid #424d53;
        background: #263238;
        padding: 20px 0;
        text-transform: capitalize;
        font-size: 14px;
        text-align: center;

        p {
            color: #999999;
            margin: 0 0 20px 0;
        }
    }

    &_top {
        padding: 92px 0 50px;
        background: #263238;

        &-newsletter {
            margin-bottom: 50px;
        }

        .featured-links {
            margin-bottom: 50px;            
        }

        .links-item {
            margin-bottom: 20px;
            position: relative;            
            font-size: 16px;

            &:before {                
                position: absolute;
                left: 0;
                font-family: FontAwesome;
                color: #8bc34a;
                top: 0;
            }

            .cursor {
                margin-right: 10px;
                color: #8bc34a;
            }

            a {
                color: #f5f5f5;
                -webkit-transition: all 0.5s ease-out;
                -moz-transition: all 0.5s ease-out;
                -ms-transition: all 0.5s ease-out;
                -o-transition: all 0.5s ease-out;
                transition: all 0.5s ease-out;

                &:hover {
                    color: #8bc34a;
                    -webkit-transition: all 0.5s ease-out;
                    -moz-transition: all 0.5s ease-out;
                    -ms-transition: all 0.5s ease-out;
                    -o-transition: all 0.5s ease-out;
                    transition: all 0.5s ease-out;
                }
            }
        }

        &-social {
            margin-bottom: 50px;

            li {
                display: inline-block;
                margin-right: 5px;
            }

            a {
                background: #3b5998;
                width: 30px;
                height: 30px;
                display: block;
                text-align: center;
                line-height: 30px;
                

                &:hover {
                    opacity: 0.6;
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -ms-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out
                }

                &.facebook-icon {
                    background: #3b5998;
                }

                &.twitter-icon {
                    background: #55acee;
                }

                &.youtube-icon {
                    background: #e52d27;
                }

                &.pinterest-icon {
                    background: #ffffff;
                    color: #bd081c;

                    i {
                        color: #bd081c;
                    }
                }

                &.linkedin-icon {
                    background: #1565c0;
                }
            }

            i {
                color: #ffffff;
                font-size: 15px;
            }
        }

        .corporate-address {
            margin-bottom: 20px;

            li {
                margin-bottom: 30px;
                color: #f5f5f5;
                position: relative;
                padding-left: 30px;
                font-size: 16px;
                margin-right: 15px;

                &.address-info{
                    padding-left: 0;
                }

                i {
                    color: #8bc34a;
                    padding-right: 15px;
                    position: absolute;
                    left: 0;
                    top: 3px;
                    z-index: 1;
                    font-size: 14px;
                }
                
                a {
                    color: #f5f5f5;
                    -webkit-transition: all 0.5s ease-out;
                    -moz-transition: all 0.5s ease-out;
                    -ms-transition: all 0.5s ease-out;
                    -o-transition: all 0.5s ease-out;
                    transition: all 0.5s ease-out;

                    &:hover {
                        color: #8bc34a;
                        -webkit-transition: all 0.5s ease-out;
                        -moz-transition: all 0.5s ease-out;
                        -ms-transition: all 0.5s ease-out;
                        -o-transition: all 0.5s ease-out;
                        transition: all 0.5s ease-out;
                    }                    
                }

                p {
                    margin-right: 20px;  
                    color: #b0bec5;                
                }
            }
        }

        &-box {
            margin-bottom: 30px;

            @media (max-width: 1023px) {
                padding: 0 30px;
            }

            .newsletter-area {

                .input-group {
                    position: relative;
                    display: table;
                    border-collapse: separate;
                }
    
                .stylish-input-group {
                    border: none;
                    padding: 0;
                    display: flex;                   
                    align-items: center;
    
                    .form-control {
                        border: none;
                        box-shadow: 0 0 0;
                        border-radius: 0;
                        text-transform: lowercase;
                        color: #717a7f;
                        height: 42px;
                        font-size: 13px;
                        background-color: #2f3c43;
                    }
    
                    .input-group-addon {
                        background: transparent;
                        border: none;
                        border-radius: 0;
                        padding: 0;
                        -webkit-transition: all 0.3s ease-out;
                        -moz-transition: all 0.3s ease-out;
                        -ms-transition: all 0.3s ease-out;
                        -o-transition: all 0.3s ease-out;
                        transition: all 0.3s ease-out;
    
                        button {
                            
                            border: 0;
                            padding: 13px 17px 14px 17px;
                            background-color: #8bc34a;
                            -webkit-transition: all 0.3s ease-out;
                            -moz-transition: all 0.3s ease-out;
                            -ms-transition: all 0.3s ease-out;
                            -o-transition: all 0.3s ease-out;
                            transition: all 0.3s ease-out;
    
                            i {
                                color: #ffffff;
                                -webkit-transition: all 0.3s ease-out;
                                -moz-transition: all 0.3s ease-out;
                                -ms-transition: all 0.3s ease-out;
                                -o-transition: all 0.3s ease-out;
                                transition: all 0.3s ease-out;                                         
                            }
    
                            &:hover {
                                background: #e74c3c;

                                &:hover i {
                                    color: #8bc34a;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-title {
            margin-bottom: 50px;
            position: relative;

            &:before {
                content: "";
                height: 3px;
                width: 45px;
                background: #8bc34a;
                position: absolute;
                left: 0;
                bottom: -20px;
                z-index: 1;
            }
        }

        h3 {
            font-size: 20px;
            color: #ffffff;
        }        
    }
}